p, blockquote, th, td {
	margin-bottom: 1.3em;
	font-size: 1.1em;
	line-height: 1.4em;
	color: #404040;}
p b, p strong {font-size: 1.0em; color: #555;}
p i, p u, p strong, td i, td u, td strong { font-size: 1.0em;}
blockquote {
	text-indent: 0.8em;
	display: block;
	position: relative;
	padding: 10px;
	width: 90%;
	margin: 0 auto 15px auto;
	background-color: #fbe8ca;}
blockquote strong.name {display: block; font-size: 1.1em;}
dl, dt, dd {
	font-size: 1.1em;
	line-height: 1.3em;}
dd, dt {	padding: 5px 10px;}
dl {overflow: hidden;}
dt {
	float: left;
	clear: left;
	color: #555555;
	font-weight: normal;}
dl.table_display {
	width: 100%;
	margin: 20px auto;}
dd {
	background-color: #f4f4f4;
	margin-bottom: 3px;}
dd:focus {background-color: #ffffe8;}
dl input[type='text'], dl textarea, dl select {width: 99%;}
dl textarea {height: 100px;}
dt sup {
	color: #D00707;
	font-size: 0.7em;
}
.table_display dt {width: 30%; text-align: right;}
.table_display dd dl dt{
	width: 100%; 
	text-align: left; 
	padding: 3px 0; 
	font-size: 0.9em;
	line-height: 1.0em;}
.table_display dd dl dt a { 
	color: #39548B; 
	font-size: 0.9em;
	line-height: 1.0em;}
.table_display dd {
	float: left;
	width: 60%;}
.table_display dd dl dd {
	width: 100%; 
	padding: 2px 0; 
	margin-bottom: 7px; 
	color: #555555; 
	font-size: 0.9em;
	line-height: 1.0em;}
.list_display dt {
	font-weight: bold;
}
#content table {margin: 0 auto 15px auto; clear: both;}
td {
	padding: 5px 10px;
	line-height: 1.3em;	
	border: 0px solid #F1F1F1;}
.blue_th th, .red_th th {
	padding: 6px;
	color: #fff;
	line-height: 1em;	
	border: 1px solid #F1F1F1;}
.blue_th th {background-color: #d00707;}
.red_th th {background-color: #284288;}
.blue_th td, .red_th td {border: 1px solid #F1F1F1;}
.red_th .zebra { background-color: #eeeeee;}
.blue_th .zebra { background-color: #fbe8ca;}
/*----------------------- Заголовки --------------------------*/
h1, h2 {font-size: 2.0em;}
h1 {color: #d00707;}
#content h2 { 
	font-size: 1.5em; 
	color: #414141;   
	line-height: 20px; 	
	padding-bottom: 6px;
	margin-bottom: 12px;
	background: url(../img/line2.gif) repeat-x scroll bottom;}
h3 { font-size: 1.4em; color: #414141; margin-bottom: 10px;}
h4 { font-size: 1.3em; color: #414141; margin-bottom: 10px;}
h5, h6 { font-size: 1.2em; color: #414141; margin-bottom: 8px;}


/*----------------------- Списки --------------------------*/
ul {list-style: disc inside; margin: 5px 0 15px 10px;}
ol {list-style: decimal inside; margin: 5px 0 15px 10px;}
ul ul, ul ol, ol ul, ol ol {margin-bottom: 0;}
#content ul li, #content ol li { margin: 0 0 5px 0;}
ol.blue_li, ul.blue_li {color: #284288; font-weight: bold;}
ol.blue_li span, ul.blue_li span {color: #414141; font-weight: normal; font-family: Arial; font-size: 1.2em;}
ol.red_li, ul.red_li {color: #d00707; font-weight: bold;}
#content ul a, #content ol a {font-weight: normal; font-family: Arial; font-size: 1.1em;  }

/*----------------------- Ссылки --------------------------*/
a:link { text-decoration: underline; color: #284288; cursor: pointer;}
a:visited { text-decoration: underline; color: #284288;/*#8b008b;*/}
a:hover { text-decoration: none; color: #284288;}
a:active, a:focus { text-decoration: none; color: #284288;}
#content table td h3 a:link {color: #1a3d9b;}
#content table td h3 a:visited {color: #1a3d9b;}
#content table td h3 a:hover {color: #1a3d9b;}
code, pre { color: #c33;}
a[href^="mailto:"], a[href^="http:"]:visited, a[href$=".pdf"], a[href$=".doc"], 
a[href$=".xls"], a[href$=".rss"], a[href$=".rdf"], a[href^="aim:"] {
  padding:2px 18px 2px 0;
  margin:-2px 0;
  background-repeat: no-repeat;
  background-position: right center;}
a[href^="mailto:"]        { background-image: url(../img/icons/email.png); }
a[href$=".pdf"]   { background-image: url(../img/icons/pdf.png); }  
a[href$=".doc"]   { background-image: url(../img/icons/doc.png); }  
a[href$=".xls"]   { background-image: url(../img/icons/xls.png); }  
a[href$=".rss"], 
a[href$=".rdf"]   { background-image: url(../img/icons/feed.png); }
a[href^="aim:"]   { background-image: url(../img/icons/im.png); }
a.right {
	display: inline-block;
	float: right;
	font-size: 1.2em;
	font-weight: normal;
	position: relative;}
a.head_link {text-decoration: none;}
a.head_link:hover {text-decoration: underline;}
#content a.right {color: #39548b; margin: 3px 5px 0 0;}
#content td a {
	font-size: 1.0em;
	line-height: 1.3em;
	text-decoration: underline;
	color: #39548b;}	
#content td a.button{line-height: 1.9em;}
#content td a:hover {text-decoration: none;}
#content .blue_th a, #content .red_th a {text-decoration: underline;}
#content .blue_th a:hover, #content .red_th a:hover, #content .blue_th a.button, #content .red_th a.button, td a.button {text-decoration: none;}
#content .left {float: left;}
#content .right {float: right;}
#content .news_list h2, #content .euro h2 {margin-bottom: 0;}
td h3 {
	font-size: 1.0em; 
	line-height: 1.2em; 
	font-weight: bold;
	margin-bottom: 1px;}
.news_list td img {
	width: 40px;
	height: 40px;
	margin: 0 7px 2px 0;
	border: 2px solid #F1F1F1;
	float: left;}
.news_list th, .news_law th {
	font-size: 1.1em;
	line-height: 12px;
	color: #646464;
	padding: 6px 4px 10px 4px;
	font-weight: bold;
	text-align: left;
	background-color: #f7f7f7;}
.news_list tr {border-bottom: 0px dashed #ccc;}
.data {
	font-size: 1.0em;
	color: #333333;
	padding: 4px 0;
	font-weight: bold;
	text-align: left;	}
span.data {display: block;}
.news img{
	max-width: 250px;
	max-height: 250px;
	margin: 2px 7px;
	border: 2px solid #F1F1F1;
	float: left;}
.left img {
	margin: 2px 20px 10px 2px;
	border: 2px solid #F1F1F1;}
.action td img {	
	height: 40px;
	margin: 0 10px 0 0;
	border: 0px solid #F1F1F1;
	float: right;}
.euro {width: 30%; margin-right: 20px;}
.corners .euro {width: 100%; margin-right: 0;}
.corners .euro table {margin: 0 auto;}
.euro strong{font-size: 1.3em; font-family: Arial;}
.euro span {font-weight: bold;}
.up {color: #64a705;}
.down {color: #d00707;}
.raiting_company {width: 45%;}
